@use 'bootstrap-icons/font/bootstrap-icons';
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  height: 100%;
} 

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

// datepicker felülírás
ngxsmk-datepicker, .ngxsmk-popover-container, .ngxsmk-backdrop {
  --datepicker-primary-color: #3b82f6 !important;
  --datepicker-shadow-focus: #3b82f6 !important;
  --datepicker-primary-contrast: #ffffff !important;
  --datepicker-range-background: #dbeafe !important;
  --datepicker-background: #ffffff !important;
  --datepicker-text-color: #var(--bs-body-color) !important;
  --datepicker-subtle-text-color: #6b7280 !important;
  --datepicker-border-color: #d1d5db !important;
  --datepicker-hover-background: #f3f4f6 !important;
  --ngxsmk-space-md: .375rem !important;
  --ngxsmk-space-lg: .75rem !important;
  --datepicker-shadow-md: 0 !important;
}

// input mező magasságának csökkentése
.ngxsmk-input-group {
  height: 38px;
}