<div class="green-block">
    <div class="mb-3">
        <div class="my-2">Total balance</div>

        <h2><app-money-sum /></h2>
    </div>
    
    <div>
        <button class="btn btn-green-hollow" (click)="openTransactionModal()">
            Create new transaction
        </button>
    </div>

</div>

@if (isNewTransactionModalOpen()) {
    <app-create-transaction-modal
        (closeModal)="closeTransactionModal()"
        (dataChanged)="handleMondalDataChange()"
        [transaction]="transaction()" 
    />
}

@if (isTransactionListLoaded()) {
    @if(transactionList() !== null) {
        <app-transaction-list [transactions]="transactionList()" />
    } @else {
        <p>No transaction to show</p>
    }
} @else {
    <div class="text-center">
        <div class="spinner-border" role="status" ></div>
    </div>
}