@use '../../shared/variables.scss' as *;

.color-block {
    padding: 15px;
    color: $moneytracker-white;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-sm;

    &.green-block {
        background-color: $moneytracker-green;
    }

    &.blue-block {
        background-color: $moneytracker-blue;
    }

    &.red-block {
        background-color: $moneytracker-red;
    }
}
