<div class="modal-header">
    <h2 mat-dialog-title>{{ 'wallet.sync.modal_title' | translate }}</h2>
    <app-dialog-close-button />
</div>

<form [formGroup]="syncForm" (ngSubmit)="submitForm()">
    <mat-dialog-content>
        <div class="form-row">
            <!-- Egyenleg -->
            <mat-form-field>
                <mat-label>{{ 'wallet.sync.current_balance' | translate }}</mat-label>
                <input
                    matInput
                    cdkFocusInitial
                    id="sync-currentBalance"
                    type="number"
                    formControlName="currentBalance"
                    autocomplete="off"
                />

                @if (
                    syncForm.controls.currentBalance.invalid &&
                    syncForm.controls.currentBalance.touched
                ) {
                    @if (syncForm.controls.currentBalance.hasError('required')) {
                        <mat-error>{{
                            'wallet.sync.current_balance.required' | translate
                        }}</mat-error>
                    }
                    @if (syncForm.controls.currentBalance.hasError('min')) {
                        <mat-error>{{ 'wallet.sync.current_balance.min' | translate }}</mat-error>
                    }
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'">
        <button matButton type="submit" [disabled]="data.isLoading()">
            {{ 'wallet.sync.submit' | translate }}
        </button>
    </mat-dialog-actions>
</form>
