<div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ "header.wallets" | translate }}</h1>
        <button type="button" class="btn btn-primary-green" (click)="openWalletModal(null)">
            {{ 'wallet.create' | translate }}
        </button>
    </div>

    @if (isWalletListLoading()) {
        <div class="text-center">
            <div class="spinner-border" role="status"></div>
        </div> 
    } @else {
        <app-wallets-list-component
            [walletListData]="walletListData()"
            (walletCardClicked)="openWalletModal($event)"
        />
    }

    @if (isWalletModalOpen()) {
        <app-wallet-modal-component
            [wallet]="selectedWalletData()"
            [isFormDisabled]="isWalletFormDisabled()"
            [isDataInitializing]="isWalletDataLoading()"
            (closeModal)="closeWalletModal()"
            (saved)="onWalletSaved($event)"
            (deleted)="onWalletDeleted($event)"
        />
    }
</div>
