.modal-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin: 0;
    }
}

.warning-block {
    text-align: center;
    color: var(--moneytracker-red);
}
