.filter-card {
    margin-bottom: 12px;
    --mat-card-elevated-container-color: var(--moneytracker-green);
    color: var(--moneytracker-white);

    .filter-row {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 12px;

        .filter {
            @media (max-width: 521px) {
                width: 100%;
            }
        }
    }

    .filter-submit {
        margin-right: 8px;

        --mat-button-filled-container-color: var(--moneytracker-white);
        --mat-button-filled-label-text-color: var(--moneytracker-green);
    }

    .filter-clear {
        --mat-button-outlined-outline-color: var(--moneytracker-white);
        --mat-button-outlined-label-text-color: var(--moneytracker-white);
    }
}
