@use '../../shared/variables.scss' as *; // így lesz globálisan elérhető a változók

.transaction-card-wrapper {
    cursor: pointer;

    &:hover {
        background-color: #ebebeb;
    }

    .transaction-card {
        padding: 15px;

        .first-row {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;

            .transaction-type {
                flex: 0 1 auto;
                align-items: center;
                gap: 10px;

                .transaction-icon {
                    font-size: 25px;

                    &.income {
                        color: $moneytracker-green;
                    }

                    &.outcome {
                        color: $moneytracker-red;
                    }
                }
            }

            .transaction-name {
                flex: 1 1 auto;
            }

            .transaction-date {
            }
        }

        .second-row {
        }
    }
}
