@if (isHistoryMode) {
    <mat-card class="title-card">
        <mat-card-header>
            <h1 mat-card-title>{{ 'transaction_page.title' | translate }}</h1>
        </mat-card-header>
    </mat-card>
}

@if (needSearchField) {
    <app-transaction-filter
        [defaultData]="dataFromQuery()"
        [isTransactionListLoading]="isTransactionListLoading"
        (filterSubmit)="onFilterSubmit($event)"
        (resetForm)="clearInputs()"
    />
}

<app-transaction-list
    [title]="isHistoryMode ? null : ('mainpage.last_transactions' | translate)"
    [isTransactionListLoading]="isTransactionListLoading()"
    [transactions]="transactionListData()"
    (editTransaction)="modal.open($event.transactionId)"
/>
