<div [formGroup]="detail" class="detail-rows">
    <div class="d-flex">
        <div class="me-2">
            <label for="detail-name-{{ index }}">
                {{ 'transaction.detail.name' | translate }}
            </label>
            <input
                id="detail-name-{{ index }}"
                type="text"
                formControlName="detailName"
                class="form-control"
            />
            @if (detail.get('detailName')?.invalid && detail.get('detailName')?.touched) {
                @if (detail.get('detailName')?.hasError('required')) {
                    <div class="form-field-error">
                        {{ 'transaction.detail.name.required' | translate }}
                    </div>
                }
            }
        </div>
        <div class="w-100">
            <label for="detail-categories-{{ index }}">{{
                'transaction.categories' | translate
            }}</label>
            <ng-multiselect-dropdown
                [placeholder]="'transaction.categories.add' | translate"
                [settings]="multiselectSettings()"
                [disabled]="isCategorySaveInProgress"
                [data]="categoryData()"
                formControlName="categories"
                (onFilterChange)="categoryFilterChange.emit($event)"
                (click)="categoryDropdownClick.emit($event)"
                (onDropDownClose)="categorySearchTextCleared.emit()"
            />
        </div>
    </div>

    <!-- Ár / unitprice és weight mutatása -->
    <div class="form-group mb-3 mt-3">
        <div>
            <app-switch
                theme="on-off"
                formControlName="detailIsComplexPriceMode"
                id="transaction-is-complex-price-mode-{{ index }}"
                [labelBefore]="'transaction.detail.simple_price_mode' | translate"
                [labelAfter]="'transaction.detail.complex_price_mode' | translate"
            />
        </div>
    </div>

    <!-- Ár blokk -->
    <div class="d-flex">
        @if (!detail.get('detailIsComplexPriceMode')?.value) {
            <div class="me-2">
                <label for="detail-price-{{ index }}">{{
                    'transaction.detail.price' | translate
                }}</label>
                <br />
                <div class="input-with-suffix">
                    <input
                        id="detail-price-{{ index }}"
                        type="number"
                        formControlName="detailPrice"
                        class="form-control"
                    />
                    <span class="suffix">Ft</span>
                </div>

                @if (detail.get('detailPrice')?.invalid && detail.get('detailPrice')?.touched) {
                    @if (detail.get('detailPrice')?.hasError('min')) {
                        <div class="form-field-error">
                            {{ 'transaction.detail.price.min' | translate }}
                        </div>
                    }
                }
            </div>
        } @else {
            <div class="me-2">
                <label for="detail-weight-{{ index }}">{{
                    'transaction.detail.weight' | translate
                }}</label>
                <div class="input-with-suffix">
                    <input
                        id="detail-weight-{{ index }}"
                        type="number"
                        formControlName="detailWeight"
                        class="form-control"
                    />
                    <span class="suffix">kg</span>
                </div>
                @if (detail.get('detailWeight')?.invalid && detail.get('detailWeight')?.touched) {
                    @if (detail.get('detailWeight')?.hasError('min')) {
                        <div class="form-field-error">
                            {{ 'transaction.detail.weight.min' | translate }}
                        </div>
                    }
                }
            </div>

            <div class="me-2">
                <label for="detail-unitprice-{{ index }}">{{
                    'transaction.detail.unit_price' | translate
                }}</label>
                <div class="input-with-suffix">
                    <input
                        id="detail-unitprice-{{ index }}"
                        type="number"
                        formControlName="detailUnitPrice"
                        class="form-control"
                    />
                    <span class="suffix">Ft/Kg</span>
                </div>
                @if (
                    detail.get('detailUnitPrice')?.invalid && detail.get('detailUnitPrice')?.touched
                ) {
                    @if (detail.get('detailUnitPrice')?.hasError('min')) {
                        <div class="form-field-error">
                            {{ 'transaction.detail.unit_price.min' | translate }}
                        </div>
                    }
                }
            </div>

            <div class="me-2">
                <label for="detail-totalprice-{{ index }}">{{
                    'transaction.detail.total_price' | translate
                }}</label>
                <div class="input-with-suffix">
                    @let weight = detail.get('detailWeight');
                    @let unitPrice = detail.get('detailUnitPrice');
                    <input
                        type="number"
                        [value]="
                            weight && weight.value && unitPrice && unitPrice.value
                                ? weight.value * unitPrice.value
                                : null
                        "
                        class="form-control"
                        [disabled]="true"
                    />
                    <span class="suffix">Ft</span>
                </div>
            </div>
        }
    </div>
    <div class="text-center mt-3">
        <button
            [title]="'transaction.detail.delete_row.tooltip' | translate"
            type="button"
            class="btn btn-primary-red"
            (click)="rowDeleted.emit()"
            [disabled]="isLastDetailRow"
        >
            {{ 'transaction.detail.delete_row.tooltip' | translate }}
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
