@if (modal.isTransactionModalOpen()) {
    <app-create-transaction-modal
        [isTransactionFormDisabled]="modal.isTransactionFormDisabled()"
        [categories]="modal.categories"
        [transaction]="modal.transactionData()"
        [isCategorySaveInProgress]="modal.isAddingCategoryInProgress()"
        [isDataInitializing]="modal.isModalDataInitializing"
        (closeModal)="modal.close()"
        (deleteTransactionRequested)="modal.confirmDeletion($event)"
        (saved)="modal.save($event)"
        (categoryAdded)="modal.saveCategory($event)"
    />
}

@if (isHistoryMode) {
    <h1>{{ 'transaction_page.title' | translate }}</h1>
}

@if (needSearchField) {
    <app-transaction-filter
        [defaultData]="dataFromQuery()"
        [isTransactionListLoading]="isTransactionListLoading"
        (filterSubmit)="onFilterSubmit($event)"
        (resetForm)="clearInputs()"
    />
}

<app-transaction-list
    [title]="isHistoryMode ? null : ('mainpage.last_transactions' | translate)"
    [isTransactionListLoading]="isTransactionListLoading()"
    [transactions]="transactionListData()"
    (editTransaction)="modal.open($event.transactionId)"
/>
