<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="form">
    <!-- name -->
    <div class="form-group mb-3">
        <label for="transaction-name">{{ 'transaction.name' | translate }}</label>
        <input
            id="transaction-name"
            type="text"
            formControlName="name"
            class="form-control"
            autocomplete="name"
        />
        @if (name.invalid && name.touched) {
            @if (name.hasError('required')) {
                <div class="form-field-error">{{ 'transaction.name.required' | translate }}</div>
            }
            @if (name.hasError('minlength')) {
                <div class="form-field-error">{{ 'transaction.name.minlength' | translate }}</div>
            }
            @if (name.hasError('maxlength')) {
                <div class="form-field-error">{{ 'transaction.name.maxlength' | translate }}</div>
            }
        }
    </div>

    <!-- transactionType -->
    <div class="form-group mb-3">
        <label for="transaction-transactionType-bool">{{ 'transaction.type' | translate }}</label>
        <div>
            <app-switch
                id="transaction-transactionType-bool"
                [labelBefore]="'transaction.expense' | translate"
                [labelAfter]="'transaction.income' | translate"
                [checked]="isIncome.value"
                (checkedChange)="isIncome.setValue($event)"
            />
        </div>
    </div>

    <!-- Price-->
    @if (!showDetailsToggleIsOn()) {
        <div class="form-group mb-3">
            <label for="transaction-price">{{ 'transaction.price' | translate }}</label>
            <input
                id="transaction-price"
                type="number"
                formControlName="price"
                class="form-control"
            />
            @if (price.invalid && price.touched) {
                @if (price.hasError('required')) {
                    <div class="form-field-error">
                        {{ 'transaction.price.required' | translate }}
                    </div>
                }
                @if (price.hasError('min')) {
                    <div class="form-field-error">{{ 'transaction.price.min' | translate }}</div>
                }
            }
        </div>
    }

    <!-- date -->
    <div class="form-group mb-3">
        <label class="d-block" for="transaction-date">{{ 'transaction.date' | translate }}</label>
        <ngxsmk-datepicker
            id="transaction-date"
            mode="single"
            formControlName="transactionDate"
            placeholder="Select a date"
        />
        @if (transactionDate.invalid && transactionDate.touched) {
            @if (transactionDate.hasError('required')) {
                <div class="form-field-error">{{ 'transaction.date.required' | translate }}</div>
            }
            @if (transactionDate.hasError('invalidDate')) {
                <div class="form-field-error">{{ 'transaction.date.invalid' | translate }}</div>
            }
        }
    </div>

    <!-- showDetails -->
    <div class="form-group mb-3">
        <div>
            <app-switch
                id="transaction-show-details"
                [labelBefore]="'transaction.hide_details' | translate"
                [labelAfter]="'transaction.show_details' | translate"
                [checked]="showDetailsToggleIsOn()"
                (checkedChange)="onSwitchDetailToggle()"
            />
        </div>
    </div>

    @if (showDetailsToggleIsOn()) {
        <div class="detail-inputs">
            details:
            @for (detail of details.controls; track $index) {
                <div [formGroup]="detail" class="d-flex">
                    <div class="me-2">
                        <label for="detail-name">{{ 'transaction.detail.name' | translate }}</label>
                        <input
                            id="detail-name"
                            type="text"
                            formControlName="detailName"
                            class="form-control"
                        />
                    </div>
                    <!-- todo ez az input csak virtuális input, ami a legelső detail price mezőjére mutat, egyébként legyen rejtve -->
                    <div class="me-2">
                        <label for="detail-price">{{
                            'transaction.detail.price' | translate
                        }}</label>
                        <input
                            id="detail-price"
                            type="number"
                            formControlName="detailPrice"
                            class="form-control"
                        />
                    </div>

                    <div class="mt-auto">
                        <button type="button" class="btn-primary-red" (click)="deleteRow($index)">
                            x
                        </button>
                    </div>
                </div>
            }
            <button type="button" class="btn-primary-green" (click)="addRow()">
                {{ 'transaction.detail.add-detail' | translate }}
            </button>
        </div>
    }
    <button
        type="submit"
        [disabled]="transactionForm.invalid || isLoading()"
        class="btn btn-primary-green"
    >
        {{
            isExistingTransaction()
                ? ('transaction.update' | translate)
                : ('transaction.create' | translate)
        }}
    </button>
    @if (isExistingTransaction()) {
        <button
            type="button"
            [disabled]="isLoading()"
            class="btn btn-primary-red ms-2"
            (click)="popupDeletionConfirm()"
        >
            {{ 'transaction.delete' | translate }}
        </button>
    }
</form>
