<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="form transaction-form">
    <mat-dialog-content>
        <div class="form-row">
            <!-- Név -->
            <mat-form-field>
                <mat-label>{{ 'transaction.name' | translate }}</mat-label>
                <input
                    id="transaction-name"
                    matInput
                    type="text"
                    formControlName="name"
                    autocomplete="name"
                />
                @if (name.invalid && name.touched) {
                    @if (name.hasError('required')) {
                        <mat-error>{{ 'transaction.name.required' | translate }}</mat-error>
                    }
                    @if (name.hasError('minlength')) {
                        <mat-error>{{ 'transaction.name.minlength' | translate }}</mat-error>
                    }
                    @if (name.hasError('maxlength')) {
                        <mat-error>{{ 'transaction.name.maxlength' | translate }}</mat-error>
                    }
                }
            </mat-form-field>
        </div>
        <div class="form-row">
            <!-- Wallet -->
            <mat-form-field>
                <mat-label>{{ 'transaction.wallet' | translate }}</mat-label>
                <mat-select
                    id="transaction-wallet"
                    formControlName="walletId"
                    (selectionChange)="onWalletChange($event.value)"
                >
                    @for (item of userData.getWallets(); track $index) {
                        <mat-option [value]="item.id"
                            >{{ item.name }} ({{ item.currencyCode }})</mat-option
                        >
                    }
                </mat-select>
                <mat-hint>{{ 'transaction.wallet.hint' | translate }}</mat-hint>
            </mat-form-field>

            <!-- Dátum -->
            <div class="date-field">
                <mat-form-field>
                    <mat-label>
                        {{ 'transaction.date' | translate }}
                    </mat-label>
                    <input
                        id="transaction-date"
                        matInput
                        [matDatepicker]="transactionDatePicker"
                        formControlName="transactionDate"
                        [placeholder]="'transaction.date.placeholder' | translate"
                    />
                    <mat-hint>{{ 'etc.datepicker.format' | translate }}</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="transactionDatePicker" />
                    <mat-datepicker #transactionDatePicker />
                    @if (transactionDate.invalid && transactionDate.touched) {
                        @if (transactionDate.hasError('required')) {
                            <mat-error>{{ 'transaction.date.required' | translate }}</mat-error>
                        }
                        @if (transactionDate.hasError('invalidDate')) {
                            <mat-error>{{ 'transaction.date.invalid' | translate }}</mat-error>
                        }
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="form-row toggler-row">
            <!-- Tranzakciótípus -->
            <div class="toggle-field">
                <mat-label>
                    {{ 'transaction.type' | translate }}
                </mat-label>
                <div class="toggle-field-control">
                    <span [class.red-text]="!isIncome.value">{{
                        'transaction.expense' | translate
                    }}</span>
                    <mat-slide-toggle
                        hideIcon
                        class="mat-slide-toggle-income-expense"
                        id="transaction-transactionType-bool"
                        formControlName="isIncome"
                    />
                    <span [class.green-text]="isIncome.value">{{
                        'transaction.income' | translate
                    }}</span>
                </div>
                <mat-hint>{{ 'transaction.type.hint' | translate }}</mat-hint>
            </div>
            <!-- részletek mutatása/elrejtése kapcsoló -->
            <div class="toggle-field">
                <mat-label>
                    {{ 'transaction.detail_state_label' | translate }}
                </mat-label>
                <div class="toggle-field-control">
                    <span [class.active-text]="!isComplexTransaction.value">{{
                        'transaction.hide_details' | translate
                    }}</span>
                    <mat-slide-toggle
                        hideIcon
                        class="mat-slide-toggle-on-off"
                        formControlName="isComplexTransaction"
                        id="transaction-show-details"
                        (change)="handleIsComplexTransactionToggle()"
                    />
                    <span [class.active-text]="isComplexTransaction.value">{{
                        'transaction.show_details' | translate
                    }}</span>
                </div>
            </div>
        </div>

        <!-- Ár -->
        @if (!isComplexTransaction.value) {
            <div class="form-row">
                <mat-form-field class="price-field">
                    <mat-label>{{ 'transaction.price' | translate }}</mat-label>
                    <input
                        id="transaction-price"
                        matInput
                        type="number"
                        formControlName="price"
                        autocomplete="price"
                    />
                    <span matTextSuffix>{{ selectedWalletsCurrency() }}</span>
                    @if (price.invalid && price.touched) {
                        @if (price.hasError('required')) {
                            <mat-error>{{ 'transaction.price.required' | translate }}</mat-error>
                        }
                        @if (price.hasError('min')) {
                            <mat-error>{{ 'transaction.price.min' | translate }}</mat-error>
                        }
                    }
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="categories-field">
                    <app-category-select
                        formControlName="categories"
                        [categoryData]="categoryData"
                        [disabled]="isCategorySaveInProgress"
                        [addCategoryCallback]="addCategoryCallback"
                    />
                </div>
            </div>
        } @else {
            <!-- Tranzakció részletei -->
            <div class="detail-inputs">
                @for (detail of details.controls; track detail) {
                    <app-transaction-detail-form-component
                        [detail]="detail"
                        [index]="$index"
                        [categoryData]="categoryData"
                        [isCategorySaveInProgress]="isCategorySaveInProgress"
                        [isLastDetailRow]="isLastDetailRow"
                        [currencySymbol]="selectedWalletsCurrency()"
                        [addCategoryCallback]="addCategoryCallback"
                        (rowDeleted)="deleteRow($index)"
                    />
                }
                <div class="detail-add-row" #detailAddButton>
                    <button mat-mini-fab type="button" color="primary" (click)="addRow()">
                        <mat-icon fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
        }
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-stroked-button
            type="button"
            mat-dialog-close
            [disabled]="isTransactionFormDisabled"
        >
            {{ 'etc.close' | translate }}
        </button>
        <button
            mat-flat-button
            type="submit"
            [disabled]="transactionForm.invalid || isTransactionFormDisabled"
        >
            {{ 'transaction.save' | translate }}
        </button>
        @if (isExistingTransaction()) {
            <button
                mat-flat-button
                type="button"
                class="mat-button-danger"
                [disabled]="isTransactionFormDisabled"
                (click)="deleted.emit(transaction.id)"
            >
                {{ 'transaction.delete' | translate }}
            </button>
        }
    </mat-dialog-actions>
</form>
