<div [formGroup]="detail" class="detail-rows">
    <div class="detail-row-top">
        <mat-form-field>
            <mat-label>{{ 'transaction.detail.name' | translate }}</mat-label>
            <input id="detail-name-{{ index }}" matInput type="text" formControlName="detailName" />
            @if (detail.get('detailName')?.invalid && detail.get('detailName')?.touched) {
                @if (detail.get('detailName')?.hasError('required')) {
                    <mat-error>{{ 'transaction.detail.name.required' | translate }}</mat-error>
                }
            }
        </mat-form-field>
        <div class="detail-categories">
            <label for="detail-categories-{{ index }}">{{
                'transaction.categories' | translate
            }}</label>
            <ng-multiselect-dropdown
                [placeholder]="'transaction.categories.add' | translate"
                [settings]="multiselectSettings()"
                [disabled]="isCategorySaveInProgress"
                [data]="categoryData()"
                formControlName="categories"
                (onFilterChange)="categoryFilterChange.emit($event)"
                (click)="categoryDropdownClick.emit($event)"
                (onDropDownClose)="categorySearchTextCleared.emit()"
            />
        </div>
    </div>

    <!-- Ár / unitprice és weight mutatása -->
    <div class="price-mode-toggle">
        <span>{{ 'transaction.detail.simple_price_mode' | translate }}</span>
        <mat-slide-toggle
            class="mat-slide-toggle-on-off"
            formControlName="detailIsComplexPriceMode"
            id="transaction-is-complex-price-mode-{{ index }}"
            hideIcon
        />
        <span>{{ 'transaction.detail.complex_price_mode' | translate }}</span>
    </div>

    <!-- Ár blokk -->
    <div class="detail-price-row">
        @if (!detail.get('detailIsComplexPriceMode')?.value) {
            <mat-form-field>
                <mat-label>{{ 'transaction.detail.price' | translate }}</mat-label>
                <input id="detail-price-{{ index }}" matInput type="number" formControlName="detailPrice" />
                <span matTextSuffix>{{ currencySymbol }}</span>
                @if (detail.get('detailPrice')?.invalid && detail.get('detailPrice')?.touched) {
                    @if (detail.get('detailPrice')?.hasError('min')) {
                        <mat-error>{{ 'transaction.detail.price.min' | translate }}</mat-error>
                    }
                }
            </mat-form-field>
        } @else {
            <mat-form-field>
                <mat-label>{{ 'transaction.detail.weight' | translate }}</mat-label>
                <input
                    id="detail-weight-{{ index }}"
                    matInput
                    type="number"
                    formControlName="detailWeight"
                />
                <span matTextSuffix>kg</span>
                @if (detail.get('detailWeight')?.invalid && detail.get('detailWeight')?.touched) {
                    @if (detail.get('detailWeight')?.hasError('min')) {
                        <mat-error>{{ 'transaction.detail.weight.min' | translate }}</mat-error>
                    }
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'transaction.detail.unit_price' | translate }}</mat-label>
                <input
                    id="detail-unitprice-{{ index }}"
                    matInput
                    type="number"
                    formControlName="detailUnitPrice"
                />
                <span matTextSuffix>{{ currencySymbol }}/Kg</span>
                @if (
                    detail.get('detailUnitPrice')?.invalid && detail.get('detailUnitPrice')?.touched
                ) {
                    @if (detail.get('detailUnitPrice')?.hasError('min')) {
                        <mat-error>{{ 'transaction.detail.unit_price.min' | translate }}</mat-error>
                    }
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'transaction.detail.total_price' | translate }}</mat-label>
                @let weight = detail.get('detailWeight');
                @let unitPrice = detail.get('detailUnitPrice');
                <input
                    matInput
                    type="number"
                    [value]="
                        weight && weight.value && unitPrice && unitPrice.value
                            ? weight.value * unitPrice.value
                            : null
                    "
                    [disabled]="true"
                />
                <span matTextSuffix>{{ currencySymbol }}</span>
            </mat-form-field>
        }
    </div>
    <div class="detail-actions">
        <button
            mat-flat-button
            [title]="'transaction.detail.delete_row.tooltip' | translate"
            type="button"
            class="mat-button-danger"
            (click)="rowDeleted.emit()"
            [disabled]="isLastDetailRow"
        >
            <mat-icon fontIcon="delete"></mat-icon>
            {{ 'transaction.detail.delete_row.tooltip' | translate }}
        </button>
    </div>
</div>
