$moneytracker-green: #3ba43f;
$moneytracker-darker-green: #329037;
$moneytracker-darkest-green: #297b2f;
$moneytracker-white: white;
$moneytracker-grey: lightgrey;
$moneytracker-form-grey: #dee2e6;
$moneytracker-red: #ef4444;
$moneytracker-darker-red: #dc2626;
$moneytracker-darkest-red: #b91c1c;
$moneytracker-secondary-color: #3ba473;
$moneytracker-black: black;
$moneytracker-light-blue: #e3f6f7;
$moneytracker-blue: #3b82f6;
$moneytracker-purple: #f4eeff;
$border-radius: 0.375rem;