$moneytracker-green: #3ba43f;
$moneytracker-darker-green: #329037;
$moneytracker-darkest-green: #297b2f;
$moneytracker-white: white;
$moneytracker-grey: lightgrey;
$moneytracker-red: red;
$moneytracker-secondary-color: #3ba473;
$moneytracker-black: black;
$border-radius: 10px;