@use '../variables.scss' as *;

.form-label-error {
  color: $moneytracker-red;
}

.form-input-error {
  border: 1px solid $moneytracker-red;
}

.form-field-error {
  color: $moneytracker-red;
  font-size: 13px;
}