@use '../variables.scss' as *;

.navbar-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.navbar {
  z-index: 2;
  background-color: $moneytracker-green !important;

  .navbar-brand {
    color: $moneytracker-white;
  }

  .nav-link {
    cursor: pointer;
    color: $moneytracker-white;
  }
}
