@use 'variables' as *;

// Emiatt az oldal magassága mindig legalább akkora lesz, mint amennyi a monitoron látszódik
.app-shell {
    display: flex;
    min-height: 100vh;
}

.app-shell-sidebar {
    flex: 0 0 auto;
    width: var(--sidebar-width);
    min-width: 240px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.app-shell-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .app-shell-header {
        height: var(--header-height);
    }

    .app-shell-content {
        flex: 1 1 auto;
        padding: 12px;
        min-width: 0;
        @media (min-width: $narrowed-content-breakpoint) {
            margin-right: var(--sidebar-width);
        }
    }
}
