@use '../../shared/variables.scss' as *;

.transaction-list {
    border-radius: 20px;
    overflow: hidden;

    .spinner {
        display: flex;
        justify-content: center;
        margin: 12px;
    }

    .transaction-cards:not(:last-child) {
        border-bottom: 1px solid $moneytracker-grey;
    }
}
