<mat-card>
    <div class="transaction-list">
        @if (isTransactionListLoading) {
            <div class="spinner">
                <mat-spinner />
            </div>
        } @else {
            @if (title) {
                <mat-card-header>
                    <h2 mat-card-title>{{ title }}</h2>
                </mat-card-header>
            }
            @if (transactions !== null && transactions.length > 0) {
                @for (transaction of transactions; track transaction.id) {
                    <div class="transaction-cards">
                        <app-transaction-card
                            [transaction]="transaction"
                            (click)="editTransaction.emit({ transactionId: transaction.id })"
                        />
                    </div>
                }
            } @else {
                <p class="text-center">{{ 'mainpage.no_transaction' | translate }}</p>
            }
        }
    </div>
</mat-card>
