<mat-card>
    <div class="transaction-list" aria-live="polite" [attr.aria-busy]="isTransactionListLoading()">
        @if (isTransactionListLoading()) {
            <div class="spinner">
                <mat-spinner [attr.aria-label]="'etc.loading' | translate" />
            </div>
        } @else {
            @if (title()) {
                <mat-card-header>
                    <h2 mat-card-title>{{ title() }}</h2>
                </mat-card-header>
            }
            @for (transaction of transactions(); track transaction.id) {
                <div class="transaction-cards">
                    <app-transaction-card
                        [transaction]="transaction"
                        (click)="editTransaction.emit({ transactionId: transaction.id })"
                    />
                </div>
            } @empty {
                <p class="text-center">{{ 'mainpage.no_transaction' | translate }}</p>
            }
        }
    </div>
</mat-card>
