<div class="transaction-card-wrapper">
    <div class="transaction-card">
        <div
            class="transaction-icon-badge"
            [class.income]="isIncome()"
            [class.outcome]="!isIncome()"
        >
            @if (isIncome()) {
                <i class="bi bi-arrow-up-short"></i>
            } @else {
                <i class="bi bi-arrow-down-short"></i>
            }
        </div>

        <div class="transaction-info">
            <div
                class="transaction-price"
                [class.income]="isIncome()"
                [class.outcome]="!isIncome()"
            >
                {{ transaction.priceSum | currencyFormat: transaction.wallet.currencyCode }}
            </div>
            <div class="d-flex">
                <div class="transaction-name me-1">{{ transaction.name }}</div>
                <div class="wallet-name">({{ transaction.wallet.name }})</div>
            </div>
            @if (categoriesAsString()) {
                <div class="transaction-categories">{{ categoriesAsString() }}</div>
            }
        </div>

        <div class="transaction-meta">
            <div class="transaction-date">{{ transaction.transactionDate }}</div>
        </div>
    </div>
</div>
