@use 'variables' as *;

.mobile-menu-button {
    @media (min-width: $sidebar-menu-breakpoint) {
        display: none;
    }
}

.mobile-menu-backdrop {
    display: none;

    @media (max-width: $sidebar-menu-breakpoint) {
        display: block;
        position: fixed;
        inset: 0;
        z-index: 1;
        border: none;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease-in-out;

        &.mobile-menu-backdrop-open {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

// app-shell-sidebar class-t egészítik ki
@media (max-width: $sidebar-menu-breakpoint) {
    .mobile-menu-open,
    .mobile-menu-closed {
        top: $header-height;
        width: 100%;
        position: absolute;
        z-index: 3;
        height: calc(100vh - $header-height);
        transition: transform 0.25s ease-in-out;
    }

    .mobile-menu-open {
        transform: translateX(0);
    }

    .mobile-menu-closed {
        transform: translateX(-100%);
        pointer-events: none;
    }
}
