.nav-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 16px;
    border-radius: var(--border-radius-lg);
    color: var(--moneytracker-white);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition-base);
    margin-bottom: 6px;

    &:hover:not(.active) {
        background: var(--moneytracker-darker-green);
    }

    &.active {
        background: var(--moneytracker-darker-green);
        color: var(--moneytracker-white);
    }
}
