<div class="sidebar-wrapper">
    <div class="sidebar-card">
        <a class="brand" routerLink="/">
            <img src="assets/images/logo-color.svg" alt="" />
            <span>Moneytracker</span>
        </a>

        <ul class="sidebar-links">
            @for (linkItem of linkList(); track $index) {
                <li>
                    <app-header-link-list
                        [linkData]="linkItem"
                        (clicked)="linkItem.action ? linkItem.action() : null"
                    />
                </li>
            }
        </ul>

        @if (userData.isUserLogged()) {
            <div class="sidebar-footer">
                <span class="sidebar-footer-text">
                    {{ 'header.welcome' | translate }}, {{ userData.getUsername() }}
                </span>

                <button
                    matIconButton
                    type="button"
                    class="logout-btn"
                    [attr.aria-label]="'header.logout' | translate"
                    (click)="logout()"
                >
                    <mat-icon aria-hidden="true" fontIcon="logout"></mat-icon>
                </button>
            </div>
        }
    </div>
</div>
