<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    
    <!-- username-->
    <div class="form-group mb-3">
        <label for="reg-username">{{ 'register.username' | translate }}</label>
        <input
            id="reg-username"
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="username.invalid && username.touched ? 'form-input-error' : ''" 
            autocomplete="username"
            [readonly]="isLoading()"
        />
        @if (username.invalid && username.touched) {
            @if (username.hasError('required')) {
                <div class="form-field-error">{{ 'register.username.required-error' | translate }}</div>
            }
            @if (username.hasError('minlength')) {
                <div class="form-field-error">{{ 'register.username.minlength-error' | translate }}</div>
            }
            @if (username.hasError('maxlength')) {
                <div class="form-field-error">{{ 'register.username.maxlength-error' | translate }}</div>
            }
            @if (username.hasError('usernameTaken')) {
                <div class="form-field-error">{{ 'register.username.taken-error' | translate }}</div>
            }
        }
    </div>

    <!-- email-->
    <div class="form-group mb-3">
        <label for="reg-email">{{ 'register.email' | translate }}</label>
        <input
            id="reg-email"
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="email.invalid && email.touched ? 'form-input-error' : ''"
            autocomplete="email"
            [readonly]="isLoading()"
        />
        @if (email.invalid && (email.touched)) {
            @if (email.hasError('required')) {
                <div class="form-field-error">{{ 'register.email.required-error' | translate }}</div>
            }
            @if (email.hasError('pattern')) {
                <div class="form-field-error">{{ 'register.email.pattern-error' | translate }}</div>
            }
            @if (email.hasError('emailTaken')) {
                <div class="form-field-error">{{ 'register.email.taken-error' | translate }}</div>
            }
        }
    </div>
    
    <!-- password-->
    <div class="form-group mb-3">
        <label for="reg-password">{{ 'register.password' | translate }}</label>
        <input
            id="reg-password"
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="(password.invalid && password.touched) || (hasPasswordMismatchError && passwordAgain.touched) ? 'form-input-error' : ''"
            autocomplete="current-password"
            [readonly]="isLoading()"
        />
        @if (password.invalid && (password.dirty || password.touched)) {
            @if (password.hasError('required')) {
                <div class="form-field-error">{{ 'register.password.required-error' | translate }}</div>
            }
            @if (password.hasError('minlength')) {
                <div class="form-field-error">{{ 'register.password.minlength-error' | translate }}</div>
            }
        }
    </div>

    <!-- confirm password-->
    <div class="form-group mb-3">
        <label for="reg-password-again">{{ 'register.password_again' | translate }}</label>
        <input
            id="reg-password-again"
            type="password"
            formControlName="passwordAgain"
            class="form-control"
            [ngClass]="(passwordAgain.invalid || hasPasswordMismatchError) && passwordAgain.touched ? 'form-input-error' : ''"
            autocomplete="current-password"
            [readonly]="isLoading()"
        />
        @if (passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched)) {
            @if (passwordAgain.hasError('required')) {
                <div class="form-field-error">{{ 'register.password_again.required-error' | translate }}</div>
            }
            @if (passwordAgain.hasError('minlength')) {
                <div class="form-field-error">{{ 'register.password_again.minlength-error' | translate }}</div>
            }
        }

        @if (passwordAgain.touched && hasPasswordMismatchError) {
            <div class="form-field-error">{{ 'register.password_again.mismatch-error' | translate }}</div>
        }
    </div>

    <button type="submit" [disabled]="registerForm.invalid || isLoading()" class="btn btn-primary-green">
        {{ 'register.submit' | translate }}
    </button>

    @if (backendErrorMsg() !== '') {
        <div class="mb-3 form-field-error">{{backendErrorMsg()}}</div>
    }

</form>