<h2 mat-dialog-title>{{ 'register.title' | translate }}</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <mat-dialog-content>
        <!-- username-->
        <mat-form-field>
            <mat-label>
                {{ 'register.username' | translate }}
            </mat-label>
            <input
                matInput
                id="reg-username"
                type="text"
                formControlName="username"
                autocomplete="username"
                [readonly]="isLoading()"
            />
            @if (username.invalid && username.touched) {
                @if (username.hasError('required')) {
                    <mat-error>
                        {{ 'register.username.required-error' | translate }}
                    </mat-error>
                }
                @if (username.hasError('minlength')) {
                    <mat-error>
                        {{ 'register.username.minlength-error' | translate }}
                    </mat-error>
                }
                @if (username.hasError('maxlength')) {
                    <mat-error>
                        {{ 'register.username.maxlength-error' | translate }}
                    </mat-error>
                }
                @if (username.hasError('usernameTaken')) {
                    <mat-error>
                        {{ 'register.username.taken-error' | translate }}
                    </mat-error>
                }
            }
        </mat-form-field>

        <!-- email-->
        <mat-form-field>
            <mat-label>
                {{ 'register.email' | translate }}
            </mat-label>
            <input
                matInput
                id="reg-email"
                type="email"
                formControlName="email"
                autocomplete="email"
                [readonly]="isLoading()"
            />
            @if (email.invalid && email.touched) {
                @if (email.hasError('required')) {
                    <mat-error>
                        {{ 'register.email.required-error' | translate }}
                    </mat-error>
                }
                @if (email.hasError('pattern')) {
                    <mat-error>
                        {{ 'register.email.pattern-error' | translate }}
                    </mat-error>
                }
                @if (email.hasError('emailTaken')) {
                    <mat-error>
                        {{ 'register.email.taken-error' | translate }}
                    </mat-error>
                }
            }
        </mat-form-field>

        <!-- password-->
        <mat-form-field>
            <mat-label>
                {{ 'register.password' | translate }}
            </mat-label>
            <input
                matInput
                id="reg-password"
                type="password"
                formControlName="password"
                autocomplete="current-password"
                [readonly]="isLoading()"
            />
            @if (password.invalid && (password.dirty || password.touched)) {
                @if (password.hasError('required')) {
                    <mat-error>
                        {{ 'register.password.required-error' | translate }}
                    </mat-error>
                }
                @if (password.hasError('minlength')) {
                    <mat-error>
                        {{ 'register.password.minlength-error' | translate }}
                    </mat-error>
                }
            }
        </mat-form-field>

        <!-- confirm password-->
        <mat-form-field>
            <mat-label>
                {{ 'register.password_again' | translate }}
            </mat-label>
            <input
                matInput
                id="reg-password-again"
                type="password"
                formControlName="passwordAgain"
                autocomplete="current-password"
                [readonly]="isLoading()"
            />
            @if (passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched)) {
                @if (passwordAgain.hasError('required')) {
                    <mat-error>
                        {{ 'register.password_again.required-error' | translate }}
                    </mat-error>
                }
            }
        </mat-form-field>
            @if (passwordAgain.touched && hasPasswordMismatchError) {
                <mat-error>
                    {{ 'register.password_again.mismatch-error' | translate }}
                </mat-error>
            }
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-stroked-button type="button" mat-dialog-close>
            {{ 'etc.cancel' | translate }}
        </button>
        <button mat-flat-button type="submit" [disabled]="isLoading()">
            {{ 'register.submit' | translate }}
        </button>
    </mat-dialog-actions>
</form>
