<div
  class="modal"
  tabindex="-1"
  role="dialog"
  style="display:block;"
>
  <div class="backdrop" (click)="onClose()"></div>
  <div class="modal-dialog modal-content" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content (close)="onClose()"></ng-content>
      </div>
    </div>
  </div>
</div>