<div class="modal" tabindex="-1" role="dialog" style="display: block">
  <!-- Modal backdrop-ot szeretné focusolható és esc-re bezárhatóvá tenni. Utóbbit megteszem a hostlistener-el -->
  <!-- előbbit nem szabad megtenni, mert nincs értelme fókuszolhatóvá tenni ezt az elemet -->
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus-->
  <div class="backdrop" (click)="onClose()"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content (close)="onClose()"></ng-content>
      </div>
    </div>
  </div>
</div>
