<h1>{{ 'welcome.title' | translate }}</h1>
<mat-card>
    <mat-card-content>
        <img
            mat-card-image
            src="../../../assets/images/moneytracker_large_logo.png"
            alt="logo"
            height="500"
        />
        <p>
            {{ 'welcome.welcomeText' | translate }}
        </p>
        <mat-card-subtitle>
            <h3>{{ 'welcome.benefitsTitle' | translate }}</h3>
        </mat-card-subtitle>
        <ul>
            <li>
                {{ 'welcome.liquidityTitle' | translate }}
            </li>
            <li>
                {{ 'welcome.easier' | translate }}
            </li>
            <li>
                {{ 'welcome.decisions' | translate }}
            </li>
            <li>
                {{ 'welcome.financial-stress' | translate }}
            </li>
            <li>
                {{ 'welcome.faster' | translate }}
            </li>
            <li>
                {{ 'welcome.security' | translate }}
            </li>
            <li>
                {{ 'welcome.goals' | translate }}
            </li>
        </ul>
    </mat-card-content>

    @if (!userData.isUserLogged()) {
        <mat-card-content>
            <mat-card-subtitle>
                <h2>{{ 'welcome.register' | translate }}</h2>
            </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <p>
                <button mat-stroked-button (click)="openRegisterModal()">
                    {{ 'welcome.register.title' | translate }}
                </button>
                <button mat-flat-button (click)="openLoginModal()">
                    {{ 'welcome.login.title' | translate }}
                </button>
            </p>

            @if (isRegisterModalOpen()) {
                <app-register-modal (closeModal)="closeRegisterModal()" />
            }
        </mat-card-actions>
    }
</mat-card>
